<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">View Employee Detail</h4>
                <div class="page-title-right">
                  <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a routerLink="/admin/employees">Manage Companies</a></li>
                    <li class="breadcrumb-item active">View Company</li>
                  </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card card-custom-edit">
                <div class="card-body">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1 align-self-center">
                            <div class="text-muted">
                                <h5>Krishan Kumar Sharma</h5>
                                <p class="mb-1"><span class="fw-bold">Client :</span> Loreum Pharma Pvt Ltd.</p>
                                <p class="mb-0"><span class="fw-bold">Employee Code :</span> E12345</p>
                            </div>
                        </div>
                        <button type="button" class="btn btn-info mb-2 me-2" [routerLink]="'/admin/edit-employee'"><i class="mdi mdi-pencil-outline mr-1"></i>
                            Edit Details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-2"><i class="mdi mdi-account me-2"></i>Personal Information</h4>
                    <div class="table-responsive">
                        <table class="table table-nowrap mb-0">
                            <tbody>
                                <tr>
                                    <th scope="row">Employee Code :</th>
                                    <td>E12345</td>
                                </tr>
                                <tr>
                                    <th scope="row">First Name :</th>
                                    <td>Krishan</td>
                                </tr>
                                <tr>
                                    <th scope="row">Middle Name :</th>
                                    <td>Kumar</td>
                                </tr>
                                <tr>
                                    <th scope="row">Last Name :</th>
                                    <td>Sharma</td>
                                </tr>
                                <tr>
                                    <th scope="row">Gender :</th>
                                    <td>Male</td>
                                </tr>
                                <tr>
                                    <th scope="row">Birth Date :</th>
                                    <td>1990-01-01</td>
                                </tr>
                                <tr>
                                    <th scope="row">Religion :</th>
                                    <td>Hindu</td>
                                </tr>
                                <tr>
                                    <th scope="row">Blood Group :</th>
                                    <td>O+</td>
                                </tr>
                                <tr>
                                    <th scope="row">Marital Status :</th>
                                    <td>Married</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <i class="mdi mdi-briefcase me-2"></i>Employment Details
                    </h4>
                    <div class="table-responsive">
                        <table class="table table-nowrap mb-0">
                            <tbody>
                                <tr>
                                    <th scope="row">Emp - Company Name :</th>
                                    <td>Loreum Pharma Ltd</td>
                                </tr>
                                <tr>
                                    <th scope="row">HO Designation :</th>
                                    <td>Manager</td>
                                </tr>
                                <tr>
                                    <th scope="row">Main Department :</th>
                                    <td>R&D</td>
                                </tr>
                                <tr>
                                    <th scope="row">Internal Department :</th>
                                    <td>Research</td>
                                </tr>
                                <tr>
                                    <th scope="row">Employee Type :</th>
                                    <td>Full-Time</td>
                                </tr>
                                <tr>
                                    <th scope="row">Level :</th>
                                    <td>Senior</td>
                                </tr>
                                <tr>
                                    <th scope="row">Grade :</th>
                                    <td>A</td>
                                </tr>
                                <tr>
                                    <th scope="row">Metro :</th>
                                    <td>Delhi</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <i class="mdi mdi-calendar me-2"></i>Employment Dates
                    </h4>
                    <div class="table-responsive">
                        <table class="table table-nowrap mb-0">
                            <tbody>
                                <tr>
                                    <th scope="row">Joining Date :</th>
                                    <td>2019-02-01</td>
                                </tr>
                                <tr>
                                    <th scope="row">Confirmation Date :</th>
                                    <td>2020-02-01</td>
                                </tr>
                                <tr>
                                    <th scope="row">Promotion Date :</th>
                                    <td>2022-05-01</td>
                                </tr>
                                <tr>
                                    <th scope="row">Demotion Date :</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">Resign Date :</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">Hold Date :</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">Last Working Date :</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">Anniversary Date :</th>
                                    <td>2023-02-01</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title card-header-custom">
                        <i class="mdi mdi-cash me-2"></i>Financial Details
                    </h4>
                    <div class="table-responsive">
                        <table class="table table-nowrap mb-0">
                            <tbody>
                                <tr>
                                    <th scope="row">Salary Bank Account No :</th>
                                    <td>987654321098</td>
                                </tr>
                                <tr>
                                    <th scope="row">Expense Bank Name :</th>
                                    <td>HDFC Bank</td>
                                </tr>
                                <tr>
                                    <th scope="row">Expense Bank A/c No. :</th>
                                    <td>9876543210</td>
                                </tr>
                                <tr>
                                    <th scope="row">Salary Bank Name :</th>
                                    <td>ICICI Bank</td>
                                </tr>
                                <tr>
                                    <th scope="row">Bank IFSC Code :</th>
                                    <td>ICIC0001234</td>
                                </tr>
                                <tr>
                                    <th scope="row">PAN No :</th>
                                    <td>ABCPQ1234R</td>
                                </tr>
                                <tr>
                                    <th scope="row">UAN No :</th>
                                    <td>123456789123</td>
                                </tr>
                                <tr>
                                    <th scope="row">PF No :</th>
                                    <td>1234 5678 9012</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <i class="mdi mdi-id-card me-2"></i>Identification Documents
                    </h4>
                    <div class="table-responsive">
                        <table class="table table-nowrap mb-0">
                            <tbody>
                                <tr>
                                    <th scope="row">Aadhar Card No. :</th>
                                    <td>1234 5678 9012</td>
                                </tr>
                                <tr>
                                    <th scope="row">Passport No. :</th>
                                    <td>IN786542A</td>
                                </tr>
                                <tr>
                                    <th scope="row">Driving License No. :</th>
                                    <td>2521</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <i class="mdi mdi-phone me-2"></i>Contact Information
                    </h4>
                    <div class="table-responsive">
                        <table class="table table-nowrap mb-0">
                            <tbody>
                                <tr>
                                    <th scope="row">Mobile No :</th>
                                    <td>9876543210</td>
                                </tr>
                                <tr>
                                    <th scope="row">Phone No :</th>
                                    <td>011-12345678</td>
                                </tr>
                                <tr>
                                    <th scope="row">Email :</th>
                                    <td>Krishan.sharma&#64;example.com</td>
                                </tr>
                                <tr>
                                    <th scope="row">IMEI No. :</th>
                                    <td>123456789012345</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
               
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title card-header-custom">
                        <i class="mdi mdi-book-open me-2"></i>Reference & Miscellaneous
                    </h4>
                    <div class="table-responsive">
                        <table class="table table-nowrap mb-0">
                            <tbody>
                                <tr>
                                    <th scope="row">Code Ref 1 :</th>
                                    <td>1234</td>
                                </tr>
                                <tr>
                                    <th scope="row">Code Ref 2 :</th>
                                    <td>3456</td>
                                </tr>
                                <tr>
                                    <th scope="row">Reference ID :</th>
                                    <td>6754</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title card-header-custom">
                        <i class="mdi mdi-school me-2"></i>Work Experience & Qualification
                    </h4>
                    <div class="table-responsive">
                        <table class="table table-nowrap mb-0">
                            <tbody>
                                <tr>
                                    <th scope="row">Highest Academic Qualification :</th>
                                    <td>M.Sc in Biotech</td>
                                </tr>
                                <tr>
                                    <th scope="row">Previous Experience (In Months) :</th>
                                    <td>24</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title card-header-custom">
                        <i class="mdi mdi-map-marker me-2"></i>Address Details
                    </h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="table-responsive">
                                <table class="table table-nowrap mb-0">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Communication Address :</th>
                                            <td>123 Street, City</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Communication Address 1 :</th>
                                            <td>Block A, Floor 3</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Communication Address 2 :</th>
                                            <td>Near Park</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Communication Pin Code :</th>
                                            <td>110001</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Communication State :</th>
                                            <td>Delhi</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Communication City :</th>
                                            <td>New Delhi</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="table-responsive">
                                <table class="table table-nowrap mb-0">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Permanent Address :</th>
                                            <td>456 Avenue, Town</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Permanent Address 1 :</th>
                                            <td>Block B, Floor 2</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Permanent Address 2 :</th>
                                            <td>Near Hospital</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Permanent Pin Code :</th>
                                            <td>110002</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Permanent State :</th>
                                            <td>Haryana</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Permanent City :</th>
                                            <td>Gurgaon</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
