<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-12 text-end">
              <button type="button" class="btn btn-success btn-rounded mb-2 me-2">
                <i class="mdi mdi-plus me-1"></i> Add New Company
              </button>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12 col-md-6">
              <label for="recordsPerPage" class="d-inline-flex align-items-center">
                Show 
                <select class="form-select form-select-sm ms-1 me-1" id="recordsPerPage" (change)="changePageSize($event)">
                  <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
                </select>
                entries
              </label>
            </div>

            <div class="col-12 col-md-6">
              <div class="d-flex justify-content-end align-items-center">
                <label class="d-inline-flex align-items-center mb-0 me-2">Search:
                  <input type="text" class="form-control form-control-sm ms-2" placeholder="Filter by Name" (input)="applyFilter($event)">
                </label>
                <div class="btn-group" dropdown>
                  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" dropdownToggle>
                    <i class="mdi mdi-filter-menu"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end p-2" *dropdownMenu>
                    <div *ngFor="let column of columns" class="form-check mb-1 d-flex align-items-center">
                      <input type="checkbox" class="form-check-input me-2" [id]="column.key" [checked]="column.visible" (change)="toggleColumn(column.key)">
                      <label class="form-check-label mb-0" [for]="column.key">{{ column.display }}</label>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-muted text-center" href="javascript:void(0);" (click)="resetColumns()">Reset Columns</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="table-responsive mb-2">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th class="table-success" *ngFor="let column of columns" [hidden]="!column.visible" (click)="sortData(column.key)">
                    {{ column.display }}
                    <span *ngIf="currentSortColumn === column.key">
                      <span *ngIf="isSortAscending">&#9650;</span>
                      <span *ngIf="!isSortAscending">&#9660;</span>
                    </span>
                  </th>
                </tr>
                <tr>
                  <th *ngFor="let column of columns" [hidden]="!column.visible">
                    <input class="form-control form-control-sm" *ngIf="column.filterable" [type]="column.key === 'age' ? 'number' : 'text'" [placeholder]="'Filter ' + column.display" (input)="applyColumnFilter(column.key, $event)">
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of pagedData">
                  <td *ngFor="let column of columns" [hidden]="!column.visible">
                    {{ item[column.key] }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row">
            <div class="col-12 col-md-5">
              <div class="dataTables_info" role="status" aria-live="polite">
                Showing {{ startEntry }} to {{ endEntry }} of {{ totalEntries }} entries
              </div>
            </div>

            <div class="col-12 col-md-7">
              <nav aria-label="Pagination Navigation">
                <ul class="pagination pagination-rounded justify-content-end">
                  <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link" href="javascript:void(0);" (click)="previousPage()" aria-label="Previous">
                      <i class="mdi mdi-chevron-left"></i>
                    </a>
                  </li>
                  <li *ngFor="let page of pages" class="page-item" [class.active]="page === currentPage">
                    <a class="page-link" href="javascript:void(0);" (click)="goToPage(page)">{{ page }}</a>
                  </li>
                  <li class="page-item" [class.disabled]="currentPage === totalPages">
                    <a class="page-link" href="javascript:void(0);" (click)="nextPage()" aria-label="Next">
                      <i class="mdi mdi-chevron-right"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
