<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">View Menu</h4>
                <div class="page-title-right">
                  <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);" routerLink="/admin/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);" routerLink="/admin/create-menu">Menus</a></li>
                    <li class="breadcrumb-item active">View Menu</li>
                  </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card card-custom-edit">
                <div class="card-body">
                    <div class="d-flex align-items-start">
                        <button type="button" class="btn btn-info mb-2 me-2 ms-auto" [routerLink]="'/admin/edit-menu'">
                            <i class="mdi mdi-pencil-outline mr-1"></i> Edit Details
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-2"><i class="mdi mdi-menu me-2"></i>Menu Detail</h4>
                    <div class="table-responsive">
                        <table class="table table-nowrap mb-0">
                            <tbody>
                                <tr>
                                    <th scope="row">Menu Name :</th>
                                    <td>Menu 1</td>
                                </tr>
                                <tr>
                                    <th scope="row">Menu Order :</th>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <th scope="row">Menu URL :</th>
                                    <td>menu-1</td>
                                </tr>
                                <tr>
                                    <th scope="row">Menu Icon :</th>
                                    <td>fa fa-clog</td>
                                </tr>
                                <tr>
                                    <th scope="row">Sub Menu Order Name :</th>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <th scope="row">Menu Description :</th>
                                    <td>dummy description</td>
                                </tr>
                                <tr>
                                    <th scope="row">Visible :</th>
                                    <td>
                                        <div class="form-switch form-switch-md">
                                            <input class="form-check-input me-1" type="checkbox" id="SwitchCheckSizemd" checked disabled>
                                            <label class="form-check-label" for="SwitchCheckSizemd"> Yes</label>
                                        </div> 
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Status :</th>
                                    <td>
                                        <div class="form-switch form-switch-md">
                                            <input class="form-check-input me-1" type="checkbox" id="SwitchCheckSizemd" checked disabled>
                                            <label class="form-check-label" for="SwitchCheckSizemd"> Active</label>
                                        </div> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-2">
                        <i class="mdi mdi-checkbox-marked-circle me-2"></i>Tasks
                    </h4>
                    <div class="row">
                        
                        <div class="col-md-2 mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck" checked disabled>
                                <label class="form-check-label" for="gridCheck">
                                  Task 1
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck" checked disabled>
                                <label class="form-check-label" for="gridCheck">
                                    Task 2
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck" checked disabled>
                                <label class="form-check-label" for="gridCheck">
                                    Task 3
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck" checked disabled>
                                <label class="form-check-label" for="gridCheck">
                                    Task 4
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck" checked disabled>
                                <label class="form-check-label" for="gridCheck">
                                    Task 5
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck" checked disabled>
                                <label class="form-check-label" for="gridCheck">
                                    Task 6
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck" checked disabled>
                                <label class="form-check-label" for="gridCheck">
                                    Task 7
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck" checked disabled>
                                <label class="form-check-label" for="gridCheck">
                                    Task 8
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck" checked disabled>
                                <label class="form-check-label" for="gridCheck">
                                    Task 9
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck" checked disabled>
                                <label class="form-check-label" for="gridCheck">
                                    Task 10
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck" checked disabled>
                                <label class="form-check-label" for="gridCheck">
                                    Task 11
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck" checked disabled>
                                <label class="form-check-label" for="gridCheck">
                                    Task 12
                                </label>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
