<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Edit Tasks</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);" routerLink="/admin/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);" routerLink="/admin/tasks">Tasks</a></li>
                        <li class="breadcrumb-item active">Edit Tasks</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <form>
        <div class="row">
            <div class="col-12">
                <!-- Task Information -->
                <div class="card card-custom">
                    <div class="card-body">
                        <h4 class="card-title card-header-custom">
                            <i class="mdi mdi-checkbox-marked-circle me-2"></i>Task Detail
                        </h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="company-name" class="form-label">Task Name <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" value="Full Client Onboarding Acesss" placeholder="Enter task name" id="task-name" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="division-code" class="form-label">Task Description</label>
                                    <textarea class="form-control" rows="1" placeholder="Enter description" id="company-description">This is just dummy text</textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label>Status</label>
                                    <div class="form-switch form-switch-md">
                                        <input class="form-check-input me-1" type="checkbox" id="SwitchCheckSizemd" checked>
                                        <label class="form-check-label" for="SwitchCheckSizemd"> Active</label>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!-- Permission Information -->
                <div class="card card-custom-alternate">
                    <div class="card-body">
                        <h4 class="card-title">
                            <i class="mdi mdi-format-list-bulleted me-2"></i>Master List
                        </h4>
                        <div class="row">
                            <div class="col-md-12 mb-3 d-flex justify-content-between align-items-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck" checked>
                                    <label class="form-check-label" for="gridCheck">
                                        Select All
                                    </label>
                                </div>
                                <a routerLink="#" class="btn btn-sm btn-warning">
                                    <i class="mdi mdi-content-save" title="save"></i>
                                </a>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck" checked>
                                    <label class="form-check-label" for="gridCheck">
                                        Get Product List
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck" checked>
                                    <label class="form-check-label" for="gridCheck">
                                        Add Product
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck" checked>
                                    <label class="form-check-label" for="gridCheck">
                                      Permission 3
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck" checked>
                                    <label class="form-check-label" for="gridCheck">
                                      Permission 4
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck" checked>
                                    <label class="form-check-label" for="gridCheck">
                                      Permission 5
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck" checked>
                                    <label class="form-check-label" for="gridCheck">
                                      Permission 6
                                    </label>
                                </div>
                            </div>

                            
                        </div>
                        
                    </div>
                </div>

                <!-- Permission Information -->
                <div class="card card-custom-alternate">
                    <div class="card-body">
                        <h4 class="card-title">
                            <i class="mdi mdi-account-group me-2"></i>User Management
                        </h4>
                        <div class="row">
                            <div class="col-md-12 mb-3 d-flex justify-content-between align-items-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Select All
                                    </label>
                                </div>
                                <a routerLink="#" class="btn btn-sm btn-warning">
                                    <i class="mdi mdi-content-save" title="save"></i>
                                </a>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck" checked>
                                    <label class="form-check-label" for="gridCheck">
                                        Create Client
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Update Client
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck" checked>
                                    <label class="form-check-label" for="gridCheck">
                                      Permission 3
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                      Permission 4
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                      Permission 5
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                      Permission 6
                                    </label>
                                </div>
                            </div>

                            
                        </div>
                        
                    </div>
                </div>
                

                <!-- save Details -->
                <div class="card card-custom">
                    <div class="card-body">
                        <div class="d-flex flex-wrap gap-2 mt-2">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                            <button type="submit" class="btn btn-secondary" [routerLink]="'/admin/tasks'">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
