<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">View Employee Detail</h4>
                <div class="page-title-right">
                  <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a routerLink="/admin/employees">Manage Companies</a></li>
                    <li class="breadcrumb-item active">View Doctor</li>
                  </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-2"><i class="mdi mdi-account me-2"></i>Personal Information</h4>
                    <div class="table-responsive">
                        <table class="table table-nowrap mb-0">
                            <tbody>
                                <tr>
                                    <th scope="row">Doctor Code:</th>
                                    <td>E12345</td>
                                </tr>
                                <tr>
                                    <th scope="row">Doctor First Name :</th>
                                    <td>Krishan</td>
                                </tr>
                                <tr>
                                    <th scope="row">Doctor Last Name :</th>
                                    <td>Kumar</td>
                                </tr>
                                <tr>
                                    <th scope="row">Category :</th>
                                    <td>Category 1</td>
                                </tr>
                                <tr>
                                    <th scope="row">Speciality :</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">Qualification :</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">Dr Category 1 :</th>
                                    <td>Category 1</td>
                                </tr>
                                <tr>
                                    <th scope="row">Doctor Type :</th>
                                    <td>Type 1</td>
                                </tr>
                                <tr>
                                    <th scope="row">No of Patients :</th>
                                    <td>50</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <i class="mdi mdi-briefcase me-2"></i>Primary Clinic Information
                    </h4>
                    <div class="table-responsive">
                        <table class="table table-nowrap mb-0">
                            <tbody>
                                <tr>
                                    <th scope="row">Primary - Clinic Address 1:</th>
                                    <td>123 Street</td>
                                </tr>
                                <tr>
                                    <th scope="row">Primary - Clinic Address 2 :</th>
                                    <td>123 Street</td>
                                </tr>
                                <tr>
                                    <th scope="row">Primary - Clinic Address 3 :</th>
                                    <td>123 Street</td>
                                </tr>
                                <tr>
                                    <th scope="row">Primary - Clinic State :</th>
                                    <td>State 1</td>
                                </tr>
                                <tr>
                                    <th scope="row">Primary - Clinic City :</th>
                                    <td>City 1</td>
                                </tr>
                                <tr>
                                    <th scope="row">Primary - Clinic Pin Code :</th>
                                    <td>656432</td>
                                </tr>
                                <tr>
                                    <th scope="row">Primary - Phone No :</th>
                                    <td>9876543210</td>
                                </tr>
                                <tr>
                                    <th scope="row">Primary - Clinic Patch :</th>
                                    <td>Patch 1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <i class="mdi mdi-calendar me-2"></i>Residential Information
                    </h4>
                    <div class="table-responsive">
                        <table class="table table-nowrap mb-0">
                            <tbody>
                                <tr>
                                    <th scope="row">Resi - Address 1 :</th>
                                    <td>123 Street</td>
                                </tr>
                                <tr>
                                    <th scope="row">Resi - Address 2 :</th>
                                    <td>123 Street</td>
                                </tr>
                                <tr>
                                    <th scope="row">Resi - Address 3 :</th>
                                    <td>123 Street</td>
                                </tr>
                                <tr>
                                    <th scope="row">Resi - Clinic State :</th>
                                    <td>State 1</td>
                                </tr>
                                <tr>
                                    <th scope="row">Resi - Clinic City :</th>
                                    <td>City 1</td>
                                </tr>
                                <tr>
                                    <th scope="row">Resi - Clinic Pin Code :</th>
                                    <td>654321</td>
                                </tr>
                                <tr>
                                    <th scope="row">Resi - Residence No :</th>
                                    <td>52</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title card-header-custom">
                        <i class="mdi mdi-cash me-2"></i>Doctor's Information
                    </h4>
                    <div class="table-responsive">
                        <table class="table table-nowrap mb-0">
                            <tbody>
                                <tr>
                                    <th scope="row">Mobile No :</th>
                                    <td>987654321098</td>
                                </tr>
                                <tr>
                                    <th scope="row">Email ID :</th>
                                    <td>mailemail.com</td>
                                </tr>
                                <tr>
                                    <th scope="row">Registration No :</th>
                                    <td>9876543210</td>
                                </tr>
                                <tr>
                                    <th scope="row">PAN No :</th>
                                    <td>ICIC0001234</td>
                                </tr>
                                <tr>
                                    <th scope="row">Preferred Day :</th>
                                    <td>02-02-2024</td>
                                </tr>
                                <tr>
                                    <th scope="row">Preferred Time :</th>
                                    <td>02:25:56</td>
                                </tr>
                                <tr>
                                    <th scope="row">Gender :</th>
                                    <td>Male</td>
                                </tr>
                                <tr>
                                    <th scope="row">Email ID :</th>
                                    <td>mailemail.com</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
