<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">View Employee Detail</h4>
                <div class="page-title-right">
                  <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a routerLink="/admin/employees">Manage Companies</a></li>
                    <li class="breadcrumb-item active">View Company</li>
                  </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-2"><i class="mdi mdi-account me-2"></i>Chemist Information</h4>
                    <div class="table-responsive">
                        <table class="table table-nowrap mb-0">
                            <tbody>
                                <tr>
                                    <th scope="row">Chemist Code :</th>
                                    <td>E12345</td>
                                </tr>
                                <tr>
                                    <th scope="row">Chemist Name :</th>
                                    <td>Krishan</td>
                                </tr>
                                <tr>
                                    <th scope="row">Chemist Type :</th>
                                    <td>Type 1</td>
                                </tr>
                                <tr>
                                    <th scope="row">Category :</th>
                                    <td>Category 1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <i class="mdi mdi-briefcase me-2"></i>Address Details
                    </h4>
                    <div class="table-responsive">
                        <table class="table table-nowrap mb-0">
                            <tbody>
                                <tr>
                                    <th scope="row">Address 1 :</th>
                                    <td>123 Street, City</td>
                                </tr>
                                <tr>
                                    <th scope="row">Address 2 :</th>
                                    <td>123 Street, City</td>
                                </tr>
                                <tr>
                                    <th scope="row">Address 3 :</th>
                                    <td>123 Street, City</td>
                                </tr>
                                <tr>
                                    <th scope="row">Pin Code</th>
                                    <td>654321</td>
                                </tr>
                                <tr>
                                    <th scope="row">State :</th>
                                    <td>State 1</td>
                                </tr>
                                <tr>
                                    <th scope="row">City :</th>
                                    <td>City 1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <i class="mdi mdi-calendar me-2"></i>Contact Details
                    </h4>
                    <div class="table-responsive">
                        <table class="table table-nowrap mb-0">
                            <tbody>
                                <tr>
                                    <th scope="row">Contact Person :</th>
                                    <td>Contact 1</td>
                                </tr>
                                <tr>
                                    <th scope="row">Phone No :</th>
                                    <td>9876543210</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mobile No :</th>
                                    <td>9876543210</td>
                                </tr>
                                <tr>
                                    <th scope="row">Email ID :</th>
                                    <td>mailemail.com</td>
                                </tr>
                                <tr>
                                    <th scope="row">GST No :</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">Associated Stockist :</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">Potential Business :</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">DL No. 1 :</th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
